				<div class="card card-sidebar-mobile">
					<div class="card-header header-elements-inline">
						<h6 class="card-title"></h6>
						<div class="header-elements">
							<div class="list-icons">
								<a class="list-icons-item" data-action="collapse"></a>
							</div>
						</div>
					</div>

					<div class="card-body p-0">
						<ul class="nav nav-sidebar" data-nav-type="accordion">

							<!-- Main -->
							<li class="nav-item-header pt-0 mt-0"><div class="text-uppercase font-size-xs line-height-xs">خدمات</div> <i class="icon-menu" title="Main"></i></li>
							<li class="nav-item">
								<a href="" class="nav-link active">
									<i class="icon-home4"></i>
									<span>
										پیشخوان
										<span class="d-block font-weight-normal opacity-50">0</span>
									</span>
								</a>
							</li>


							<li class="nav-item"><a disabled href="{% url "service_1" %}" class="nav-link"><i class="icon-width"></i> <span>نظارت بر آلودگی هوا</span></a></li>
							<li class="nav-item"><a disabled href="{% url "service_2" %}" class="nav-link"><i class="icon-width"></i> <span>سیل و زلزله</span></a></li>
							<li class="nav-item"><a href="{% url "service_3" %}" class="nav-link"><i class="icon-width"></i> <span>جاده هوشمند</span></a></li>

							<!-- /main -->


							<!-- /layout -->

						</ul>
					</div>
				</div>
